*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

#logo{
    display: flex;
    color: white;
    align-items: center;
     margin: 0px 14px;
    font-size: 28px;
    margin-right: 30px;

}

#logo img{
    height: 40px;
    filter: invert(1);
}
#navbar{
    height: 50px;
    background-color:#e34331 ;
    padding: 0px 0px;
    font-family: 'DynaPuff', cursive;
}

#navbar ul{
    display: flex;
    flex-direction: row;
    /* justify-content: center; */
    align-items: center;
    
}

#navbar li{
    list-style: none;
    
}

#navbar li a{
    color: white;
    font-size: 23px;
    text-decoration: none;
    padding: 15px 20px;
    
}

#navbar li a:hover{
    color: black;
}

#introSection{
    padding: 0;
    margin: 0;
    padding-bottom: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: 'Josefin Sans', sans-serif;  
    font-size: 65px;
    align-items: center;
    background: center/cover no-repeat url("/static/bg.jpg") ;
    height: 330px;
    background-color: red;
}

#introSection div.small{
    font-size: 30px;
    padding: 5px;
}

#missionSection{
    height: 265px;
    background-color: white;
}

#missionSection h2{
    font-family: 'Shadows Into Light', cursive;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
}

.card{
    border: 2px solid black;
    border-radius: 10px;
    width: 23%;
    margin: 12px 45px;
    height: 180px;
    display: inline-block;
    align-items: center;
}

.card-box{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-img{
    height: 110px;
    padding: 0 0px;
    margin: 10px 10px;
}

.card-img img{
    height: 100px;
}

.card-content{
    padding: 0 25px;

}

.card-content p{
    font-size: 19px;
}
.card h3{
    text-align: center;
    margin: 12px;
}

#sponsorsSection{
    height: 200px;
    background-color: #e39289;

}

#sponsorsSection h2{
    font-size: 28px;
    text-align: center;
    padding-top: 12px;
    font-family: 'DynaPuff', cursive;
    color: black;
}

#sponsors{
    height: 20px;
    max-width: 1000px;
    margin: auto;
}

#sponsors img{
    height: 100px;
    margin: 5px 20px;
    padding-left: 70px;
}

#footer{
    background-color: black;
    height: 50px;
    color: white;
    text-align: center;
    padding-top: 13px;
}